<div class="mod">
    <div class="mod_content">
        <i class="material-icons" data-close>clear</i>
        <h3>Підтвердити видалення?</h3>
        <div class="buttons">
            <button class="btn" data-close>Скасувати</button>
            <a id="apply" class="btn red">Видалити</a>
        </div>
    </div>
</div>