<div class="modal cover">
    <div class="modal_content">
        <i class="material-icons modal-close" data-close>clear</i>
        <h3 class="modal-header">Підтвердити видалення?</h3>
        <div class="buttons_container">
            <a id="apply" class="btn red">Видалити</a>
            <a class="btn" data-close>Скасувати</a>
        </div>
    </div>
</div>