<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Пісенник</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li {{#if isHome}} class="active" {{/if}}><a href="/">Головна</a></li>
            <li><a href="/categories">Пісенник</a></li>
            <li><a href="/liturgy">Літургія</a></li>
            {{#if isAuth}}
                <li><a href="/auth/logout">Вийти</a></li>
            {{else}}
                <li><a href="/auth/login#login">Увійти</a></li>
            {{/if}}
        </ul>
    </div>
</nav>

<ul id="mobile-demo" class="sidenav">
    <li><a href="/">Головна</a></li>
    <li><a href="/categories">Пісенник</a></li>
    <li><a href="/liturgy">Літургія</a></li>
    {{#if isAuth}}
        <li><a href="/auth/logout">Вийти</a></li>
    {{else}}
        <li><a href="/auth/login#login">Увійти</a></li>
    {{/if}}
</ul>
