<h1>ЧИН ПАНАХИДИ</h1>
<p>Благословен Бог наш завжди, нині і повсякчас, і на віки вічні.</p>
<p><b>Амі́нь.</b></p>
<div>
    <p><b>Святи́й Бо́же, святи́й крі́пкий, святи́й безсме́ртний, поми́луй нас (3).</b></p>
    <p><b>Сла́ва Отцю́, і Си́ну, і Свято́му Ду́хові, і ни́ні, і повсякча́с, і на ві́ки ві́чні. Амі́нь.</b></p>
    <p><b>Пресвята́я Тро́йце, поми́луй нас; Го́споди, очи́сти гріхи́ на́ші; Влади́ко, прости́ беззако́ння на́ші;
        Святи́й, завіта́й і зціли́ не́мочі на́ші і́мени Твого́ ра́ди.</b></p>
    <p><b>Го́споди, поми́луй (3).</b></p>
    <p><b>Сла́ва Отцю́, і Си́ну, і Свято́му Ду́хові, і ни́ні, і повсякча́с, і на ві́ки ві́чні. Амі́нь.</b></p>
    <p><b>О́тче наш, що єси́ на небеса́х, неха́й святи́ться ім’я́ Твоє́, неха́й при́йде ца́рство Твоє́, неха́й бу́де
        во́ля Твоя́, як на не́бі, так і на землі́. Хліб наш насу́щний дай нам сього́дні, і прости́ нам прови́ни на́ші,
        як і ми проща́ємо винува́тцям на́шим, і не введи́ нас у споку́су, але ви́зволи нас від лука́вого.</b></p>
</div>
<p>Бо Твоє є царство, і сила, і слава, Отця, і Сина, і Святого Духа, нині і повсякчас, і на віки вічні.</p>
<p><b>Амі́нь.</b></p>
<div>
    <p><b>З ду́хами пра́ведних поме́рлих * ду́шу раба́ Твого́ (раби́ Твоє́ї; ду́ші рабі́в Твої́х), Спа́се, упоко́й, * і
        збережи́ її́ (їх) у блаже́нній жи́зні * у Те́бе, Чоловіколю́бче.</b></p>
    <p><b>У Твої́м мі́сці спочи́нку, Го́споди, * де всі святі́ Твої́ спочива́ють, * упоко́й і ду́шу раба́ Твого́ (раби́
        Твоє́ї; ду́ші рабі́в Твої́х), * бо Ти єди́ний Чоловіколю́бець.</b></p>
    <p><b>Сла́ва Отцю́, і Си́ну, і Свято́му Ду́хові. <br> Ти єси́ Бог, що до а́ду зійшо́в * і з уз розріши́в зако́ваних,
        * сам і ду́шу раба́ Твого́ (раби́ Твоє́ї; ду́ші рабі́в Твої́х) упоко́й.</b></p>
    <p><b>І ни́ні, і повсякча́с, і на ві́ки ві́чні. Амі́нь. <br> Єди́на чи́ста і непо́рочная Ді́во, * що Бо́га без
        сі́мени породи́ла, * моли́, щоб спасла́ся душа́ його́ (її́; спасли́ся ду́ші їх).</b></p>
</div>
<p>Помилуй нас, Боже, по великій милості твоїй, молимось Тобі́, вислухай і помилуй.</p>
<p><b><span>Люди, на кожне прошення:</span> Го́споди, поми́луй (3).</b></p>
<p>Ще молимось за упокій душі усопшого раба Божого (душі усопшої раби Божої; душ усопших рабів Божих) ім’я, і щоб
    проститися йому (їй, їм) всякому прогрішенню, вольному і невольному.</p>
<p>Щоб Господь Бог оселив душу його (її; душі їх), де праведні спочивають.</p>
<p>Милости божої, царства небесного і відпущення гріхів його (її, їх) у Христа, безсмертного царя і Бога нашого,
    просім.</p>
<p><b>Пода́й, Го́споди.</b></p>
<p>Господеві помолімся.</p>
<p><b>Го́споди, поми́луй.</b></p>
<p>Боже духів і всякої плоті, Ти смерть подолав, і диявола знищив, і життя світові Твоєму дарував. Сам, Го́споди, упокой
    душу усопшого раба твого (усопшої раби Твоєї; душі усопших рабів твоїх) ім‘я у місці світлому, у місці квітучому, у
    місці спокійному, звідки втекла болізнь, печаль і зітхання. Всяке прогрішення, вчинене ним (нию, ними) словом, або
    ділом, або помислом, як благий і чоловіколюбець Бог прости, бо немає чоловіка, що жив би, а не згрішив; Ти бо один
    без гріха, правда твоя – правда вовіки, і слово Твоє – істина.
    <br>
    Бо Ти єси воскресення, і життя, і упокій усопшого раба твого (усопшої раби Твоєї, усопших рабів твоїх) ім’я, Христе
    Боже наш, і Тобі славу возсилаємо з безначальним твоїм Отцем і пресвятим, і благим, і животворящим твоїм Духом, нині
    і повсякчас, і на віки вічні.</p>
<p><b>Амі́нь.</b></p>
<p>Премудрість.</p>
<p><b>Чесні́шу від херуви́мів і незрівня́нно славні́шу від серафи́мів, що без зотлі́ння Бо́га Слово́ породи́ла, су́щу
    Богоро́дицю, Тебе́ велича́ємо.</b></p>
<p>Слава Тобі́, Христе Боже, уповання наше, слава Тобі.</p>
<p><b>Сла́ва Отцю́, і Си́ну, і Свято́му Ду́хові, і ни́ні, і повсякча́с, і на ві́ки ві́чні. Амі́нь. Го́споди, поми́луй
    (3). Благослови́.</b></p>
<p>Христос, істинний Бог наш, що живими і мертвими володіє, молитвами пречистої своєї Матері, святих славних і
    всехвальних апостолів, преподобних і богоносних отців наших і всіх святих, душу раба свого ім’я, що переставився від
    нас (раби своєї ім’я, що переставилася від нас; душі рабів своїх ім’я, що переставилися від нас), в оселях праведних
    оселить, на лоні Авраама упокоїть, і до праведних причислить, і нас помилує і спасе, як благий і чоловіколюбець.</p>
<p><b>Амі́нь.</b></p>
<p>У блаженнім успенні вічний упокій подай, Го́споди, приснопам’ятному рабові Твоєму (приснопам’ятній рабі твоїй,
    приснопам’ятним рабам твоїм) ім’я, і сотвори йому (їй, їм) вічную пам’ять.</p>
<p><b>Ві́чная па́м’ять (3).</b></p>
