{{#if err}}
    <p class="msg alert">{{err}}</p>
{{/if}}
{{#if msg}}
    <p class="msg">{{msg}}</p>
{{/if}}

<h1>Персональний кабінет</h1>

<div>
    <div class="personal-info">
        <b>Ім'я:</b> <i class="tiny material-icons help" title="Щоб змінити ім'я зверніться до адміністрації">help_outline</i>
        <p>{{user.name}}</p>
    </div>
    <div class="personal-info">
        <b>Електронна пошта:</b>
            <form action="/cabinet/email" method="POST">
                <label for="email">Змінити електронну пошту:</label>
                <input type="email"
                       name="email"
                       id="email"
                       required
                       value={{user.email}}>
                <div class="buttons">
                    <button class="btn">Зберегти</button>
                    <button id="email-reset" class="btn red">Відмінити</button>
                </div>
            </form>
    </div>
    <div class="personal-info">
        <b>Пароль:</b>
        <form action="/cabinet/password" method="POST" id="password">
            <label for="password">Теперішній пароль:</label>
            <input type="password"
                   name="password"
                   id="password"
                   placeholder="Введіть пароль"
                   required>
            <label for="newPassword">Новий пароль:</label>
            <input type="password"
                   name="newPassword"
                   id="newPassword"
                   placeholder="Введіть новий пароль"
                   required>
            <label for="confirmPassword">Підтвердження паролю:</label>
            <input type="password"
                   name="confirmPassword"
                   id="confirmPassword"
                   placeholder="Введіть новий пароль знову"
                   required>
            <div class="buttons">
                <button class="btn">Зберегти</button>
                <button id="password-reset" class="btn red">Відмінити</button>
            </div>
        </form>
    </div>
</div>
