{{#if err}}
    <p class="msg alert">{{err}}</p>
{{/if}}
{{#if msg}}
    <p class="msg">{{msg}}</p>
{{/if}}

<h1>Персональний кабінет</h1>

<div>
    <div class="input-field">
        <h4>Ім'я</h4>
        <input type="text"
               disabled
               title="Щоб змінити ім'я зверніться до адміністрації"
               value="{{user.name}}">
    </div>
    <div class="input-field">
        <h4>Електронна пошта</h4>
            <form action="/cabinet/email" method="POST" id="email-form">
                <label for="email">Змінити електронну пошту:</label>
                <input type="email"
                       name="email"
                       id="email"
                       required
                       value={{user.email}}>
                {{#unless isValidated}}
                    <p>Електронна пошта не підтвердженя. <a href="/cabinet/resend">Надіслати інструкцію на електронну пошту</a>.</p>
                {{/unless}}
                <div class="buttons_container">
                    <button class="btn">Зберегти</button>
                    <button id="email-reset" class="btn red">Відмінити</button>
                </div>
            </form>
    </div>
    <div class="input-field">
        <h4>Пароль</h4>
        <form action="/cabinet/password" method="POST" id="password-form">
            <label for="password">Теперішній пароль:</label>
            <input type="password"
                   name="password"
                   id="password"
                   placeholder="Введіть пароль"
                   required>
            <label for="newPassword">Новий пароль:</label>
            <input type="password"
                   name="newPassword"
                   id="newPassword"
                   placeholder="Введіть новий пароль"
                   required>
            <label for="confirmPassword">Підтвердження паролю:</label>
            <input type="password"
                   name="confirm"
                   id="confirmPassword"
                   placeholder="Введіть новий пароль знову"
                   required>
            <div class="buttons_container">
                <button class="btn">Зберегти</button>
                <button id="password-reset" class="btn red">Відмінити</button>
            </div>
        </form>
    </div>
</div>
