<h1>{{category}}</h1>

{{#if songs.length}}
    {{#each songs}}
        <div class="card">
            <div class="card-content">
                <a href="/song/{{id}}">{{name}}</a>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>Поки пісень для даної категорії не додали</p>
{{/if}}

<a class="btn btn-primary" href="/add">Додати нову пісню</a>
<a class="btn red" href="/">До списку категорій</a>
