{{#if msg}}
    <p class="msg">{{msg}}</p>
{{/if}}

<h1>Пісенник</h1>

{{#if categories.length}}
    {{#each categories}}
        <div class="card">
            <div class="card-content">
                <a href="/category/{{id}}">{{name}}</a>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>Поки немає категорій</p>
{{/if}}

<div class="buttons">
    <a href="/" class="btn goHome">На головну</a>
    {{#if isAuth}}
        <form action="/category/add" method="GET">
            <button class="btn">Додати нову категорію</button>
        </form>
    {{/if}}
</div>
