<h1>Редагувати нову пісню</h1>

<form action="/song/edit/{{id}}" method="POST" novalidate>
    <div class="input-field">
        <input id="name" name="name" type="text" class="validate" required value="{{name}}">
        <label for="name">Назва пісні</label>
        <span class="helper-text" data-error="Назва пісні"></span>
    </div>

    <div class="input-field">
        <textarea id="text" name="text" class="materialize-textarea validate" required>{{text}}</textarea>
        <label for="text">Текст пісні</label>
        <span class="helper-text" data-error="Введіть текст пісні"></span>
    </div>

    <div class="input-field">
        <input id="author" name="author" type="text" class="validate" required value="{{author}}">
        <label for="author">Автор</label>
        <span class="helper-text" data-error="Введіть автора"></span>
    </div>

    <button class="btn btn-primary">Зберегти</button>
    <a href="/" class="btn btn-primary">Скасувати</a>
</form>