{{#if msg}}
    <p class="msg">{{msg}}</p>
{{/if}}
{{#if err}}
    <p class="msg alert">{{err}}</p>
{{/if}}

<h1>Вітаємо Вас на сайті{{#if isAuth}}, {{userName}}{{/if}}!</h1>
<p>Тут Ви можете знайти різні пісні, розділені по категоріях, текст Літургії св. Івана Золотоустого та текст Панахиди.</p>
<p>Також Ви можете докластися до спільної справи, додаючи нові пісні та категорії в пісенник.
{{#unless isAuth}}
    <br> Для цього Вам обов'язково потрібно пройти <a href="/auth/login#register">реєстрацію</a>.
{{/unless}}
</p>
<p>Гарного перебування на сайті!</p>
<br>

<div class="card">
    <a href="/category" class="card-content">Пісенник</a>
</div>

<div class="card">
    <a href="/lit" class="card-content">Літургія</a>
</div>

<div class="card">
    <a href="/pan" class="card-content">Панахида</a>
</div>

<em>З пропозиціями, запитаннями чи якщо Ви знайшли помилку - <a href="mailto:{{email}}">напишіть мені</a></em>
