<h1>Категорії пісень</h1>

{{#if categories.length}}
    {{#each categories}}
        <div class="card">
            <div class="card-content">
                <a href="/category/{{short}}">{{name}}</a>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>Поки пісень не додали</p>
{{/if}}

{{#if isAuth}}
    <div class="buttons">
        <form action="/category/new" method="GET">
            <button class="btn">Додати нову категорію</button>
        </form>
    </div>
{{/if}}
