<h1>Категорії пісень</h1>

{{#if categories.length}}
    {{#each categories}}
        <div class="card">
            <div class="card-content">
                <a href="/category/{{category}}">{{cat}}</a>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>Поки пісень не додали</p>
{{/if}}
<a href="/add" class="btn btn-primary">Додати нову пісню</a>
