{{#if msg}}
    <p class="msg">{{msg}}</p>
{{/if}}

<h1>Вітаємо Вас на сайті{{#if isAuth}}, {{userName}}{{/if}}!</h1>
<p>Тут Ви можете знайти різні пісні, розділені по категоріях та текст Літургії св. Івана Золотоустого.</p>
<p>Також Ви можете докластися до спільної справи, додаючи свої пісні та категорії в пісенник.
    {{#unless isAuth}}
        <br> Для цього Вам обов'язково потрібно пройти <a href="/auth/login#register">реєстрацію</a>.
    {{/unless}}
</p>
<p>Гарного перебування на сайті!</p>
<br>

<div class="card">
    <div class="card-content">
        <a href="/category">Пісенник</a>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <a href="/lit">Літургія</a>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <a href="/pan">Панахида</a>
    </div>
</div>

<em>З пропозиціями, запитаннями чи якщо Ви знайшли помилку - <a href="mailto:lubomirmisak@live.com">напишіть мені</a></em>
