<h1>Додати нову категорію</h1>

<form action="/categories/new" method="POST">
    <div class="input-field">
        <input id="name" name="name" type="text" class="validate" required>
        <label for="name">Назва категорії</label>
        <span class="helper-text" data-error="Назва категорії"></span>
    </div>

    <div class="buttons">
        <button class="btn">Додати категорію</button>
        <a href="/categories" class="btn goHome">Назад до категорій</a>
    </div>
</form>
