{{#if err}}
    <p class="msg alert">{{err}}</p>
{{/if}}

<h1>Додати нову пісню</h1>

<form action="/song/add" method="POST">
    <div class="input-field">
        <label for="categories">Виберіть категорію:</label>
        <select id="categories" name="categories" required multiple>
            {{#if current}}
                <option selected>{{current}}</option>
            {{/if}}
            {{#each categories}}
                {{#ifneq @root.current name}}
                    <option>{{name}}</option>
                {{/ifneq}}
            {{/each}}
        </select>
    </div>

    <div class="input-field">
        <label for="name">Назва пісні:</label>
        <input id="name" name="name" type="text" class="validate" required>
    </div>

    <div class="input-field">
        <label for="text">Текст пісні:</label>
        <textarea id="text" name="text" class="materialize-textarea validate" required></textarea>
    </div>

    <div class="buttons_container">
        <button class="btn">Додати пісню</button>
        <a href="/category" class="btn blue">Назад до категорій</a>
    </div>
</form>
