<h1>{{name}}</h1>

<div>
    <pre>{{text}}</pre>
    <p class="author">{{author}}</p>
    <a href="/">На головну</a>
    <form action="{{id}}" method="POST">
        <button>Видалити пісню</button>
    </form>
</div>
