{{#if name}}
    <h1>Вітаю, {{name}}!</h1>

    <p>Ви успішно активували обліковий запис і тепер можете створювати, редагувати та видаляти категорії та пісні.</p>
    <p>Ви не змогли активувати обліковий запис.</p>

    <div class="buttons_container">
        <a href="/" class="btn blue">Розпочати користування</a>
    </div>
{{else}}
    <h1>Помилка при активації!</h1>

    <p>Ви не змогли активувати обліковий запис. Активуйте його перейшовши за посиланням, надісланим на Вашу електронну пошту, вказану при реєстрації.</p>
    <p>Якщо Ви не пам'ятаєте вказану електронну пошту чи виникли проблеми з активацією облікового запису - <a href="mailto:{{email}}">зверніться в адміністрацію пісенника</a>.</p>

    <div class="buttons_container">
        <a href="/" class="btn blue">Перейти на головну</a>
    </div>
{{/if}}