<h1>Вітаю, {{name}}!</h1>

<p>Ви успішно активували обліковий запис і тепер можете створювати, редагувати та видаляти категорії та пісні.</p>

<div class="buttons">
    <a href="/" class="btn blue">Розпочати користування</a>
</div>