h1 {
    font-size: 2.5rem;
}

h2 {
    text-indent: 20px;
    font-size: 2rem;
}

h3 {
    text-indent: 20px;
    font-size: 1.5rem;
}

em {
    display: block;
    margin-top: 100px;
    text-align: center;
}

nav {
    background-color: #7EB5A6;
    padding: 0 2rem;
}

.author {
    text-align: right;
    margin-right: 10%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 20px;
}

.goHome {
    background-color: #147ab2 !important;
}
.goHome:hover {
    background-color: #1a98dc !important;
}
.goHome:active {
    background-color: #10608c !important;
}

.red {
    background-color: #c02418 !important;
}
.red:hover {
    background-color: #dc2929 !important;
}
.red:active {
    background-color: #8f0f0f !important;
}

.auth {
    padding: 1rem;
}

.alert {
    padding: .5rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background: rgba(255, 0, 0, .3);
    color: red;
}

.msg {
    padding: .5rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background: rgba(0, 255, 0, .3);
    color: green;
}

.choir {
    font-weight: bold;
}
.priest {
    font-style: normal;
}
.rubric {
    font-style: italic;
}

@media only screen and (max-width: 992px) {
    nav {
        padding: 0;
    }

    .buttons {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .btn {
        margin: 10px;
    }
}
