h1 {
    font-size: 3rem;
}

nav {
    background-color: #1D7D74FF;
    padding: 0 2rem;
}

.author {
    text-align: right;
    margin-right: 10%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 20px;
}

.goHome {
    background-color: #147ab2;
}
.goHome:hover {
    background-color: #1a98dc;
}
.goHome:active {
    background-color: #10608c;
}

.red {
    background-color: #f44336;
}

.auth {
    padding: 1rem;
}

@media only screen and (max-width: 992px) {
    nav {
        padding: 0;
    }

    pre {
        text-align: left;
    }

    .buttons {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .btn {
        margin: 10px;
    }
}